.hero {
  background-color: $back-color-ef;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 210px;
  }

  &__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}

.feature {
  list-style-type: none;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @media screen and (max-width: 767px) {
      max-width: 450px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);
      margin-bottom: 30px;
      margin-right: 30px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  @media screen and (min-width: 1200px) {
    &__item:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $button-back;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $head-color;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.overlay {
  background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/img_overlay.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
