.task {
  padding-top: 0px;

  &__container {
    width: 100%;
    height: 70px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    left: 0px;
    color: $white-color;
    background-color: rgba(47, 48, 58, 0.8);
  }

  &__name {
    position: relative;
  }

  &__text {
    font-size: 14px;
    font-weight: 700;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }
}
