.team {
  background-color: $back-company;

  &__cont {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      justify-content: space-between;
    }
  }

  &__item {
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
      max-width: 450px;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 4 * 15px) / 2);
      margin-bottom: 30px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  &__list:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &__img {
    @media screen and (max-width: 1199px) {
      width: 100%;
    }
  }
  &__party {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $head-color;
  }

  &__post {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
